{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
      <h1 class="display-3 text-center pb-4 fw-bold">Knowledge Log</h1>
      
      <p class="lead text-center">
        <strong>Welcome to my web app!</strong> I created it to help me learn a web framework while also making it easier for me and
        my friends to track various topics. You can enter a topic and then add entries related to that specific topic.
      </p>

      {% if user.is_authenticated %}
        <div class="text-center pt-4">
          <p class="lead fs-6">
            To get started, click <strong>'Topics'</strong> at the top left of the app.
          </p>
          <p class="lead fs-6">
            You can also return to this page anytime—just click <strong>'Knowledge Tracker'</strong> at the top left.
          </p>
        </div>
      {% endif %}

      {% if not user.is_authenticated %}
      <div class="text-center pt-4">
        <p class="lead fs-6">
          To use this website, start by clicking the <strong>'Register'</strong> button below or at the top right of the app to create an account.
        </p>
      </div>
        <div class="text-center pt-2">
          <a class="btn btn-primary btn-lg mt-1"
              href="{% url 'accounts:register' %}">Register &raquo;</a>
        </div>

      {% endif %}

    </div>
  </div>
{% endblock page_header %}